$cAccent: #3978EF;
$cBlack: #121212;
$cGray: #333;
$cOrange: #E48900;
$cLightGray: rgba(#000, 0.1);

$primary : #E48900; 
$primary-hv : #cf7e03;
$main-background-wrapper: #e7e6e6;

/* menu bar option */
$nav-bar-border-bottom: #cc7d06;
$menu-bar-border-bottom: #bab9b9;

/* sidebar option */
$sidebar-bg : #ddd;
$sidebar-a-color : #333;
$sidebar-a-color-hvr : #333;
$sidebar-a-bg-hvr : #ccc;
$sidebar-a-border : #041821; 
$sidebar-icon-color: #333;
$sidebar-icon-border: #d4d1d1;
$sidebar-icon-bg: #d4d1d1;

$img-border: #c3c3c3;

/* card option */
$card-border: #dad8d8;
$card-header-bg: #fff;
$card-header-border: transparent;
$card-header-color: #444;
$card-header-border-bottom : #fff;
$card-footer-border-bottom: #9ebcc5;


