
// main color 
$cBlue: #007bff;
$cIndigo: #6610f2;
$cPurple: #6f42c1;
$cPink: #e83e8c;
$cRed: #dc3545;
$cOrange: #fd7e14;
$cYellow: #ffc107;
$cGreen: #28a745;
$cTeal: #20c997;
$cCyan: #17a2b8;
$cWhite: #fff;
$cGray: #6c757d;
$cGray-dark: #343a40;
$cPrimary: #007bff;
$cSecondary: #6c757d;
$cSuccess: #28a745;
$cInfo: #17a2b8;
$cWarning: #ffc107;
$cDanger: #dc3545;
$cLight: #f8f9fa;
$cDark: #343a40;

// main size 
$sBreakpoint-xs: 0;
$sBreakpoint-sm: 576px;
$sBreakpoint-md: 768px;
$sBreakpoint-lg: 992px;
$sBreakpoint-xl: 1200px;

// main font 
$sFont-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$sBont-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
